# Strings and String Operations

String data type is very similar to lists in terms of behavior (indexing, slicing, concatenation, etc.)  
String variables can be single or multiple characters.

- Define two string variables, `a = 'abc'` and `b = 'd'`.

In [6]:
print("adam", "adam")

adam adam

In [7]:
print("adam \nadam")

adam
adam

In [8]:
print("adam" "\n" "adam")

adam
adam

String literals are surrounded by either single or double quotation marks.
- Run the example below:

In [11]:
print("Hello World")
print('Hello World')
print(""Hello World"")

SyntaxError: invalid syntax (<ipython-input-11-a576b26bf772>, line 3)

Multiline strings can be defined using **three** quotation marks.
- Run the example cell below:

In [14]:
# çift tırnak ile print
print("ben istanbul'a geldim")

ben istanbul'a geldim

In [2]:
# tek tırnak örneği
print('Ali "baş ve sondakini çift tırnak yap" dedi')

Ali "baş ve sondakini çift tırnak yap" dedi

In [3]:
print("Ali "baş ve sondakini çift tırnak yap" dedi")

SyntaxError: invalid syntax (<ipython-input-3-f8a3ddab6fa0>, line 1)

In [4]:
print('Ali "baş ve sondakini İstanbul'da çift tırnak yap" dedi')

SyntaxError: invalid syntax (<ipython-input-4-67f9177c7106>, line 1)

In [5]:
print("""Ali "baş ve sondakini İstanbul'da çift tırnak yap" dedi""")

Ali "baş ve sondakini İstanbul'da çift tırnak yap" dedi

In [2]:
multi = """This is a
multiline string."""
print(multi)

This is a
multiline string.

In [25]:
"""This is a
multiline string."""

'This is a\nmultiline string.'

String variables can be concatenated using `+` operator.  
- Concatenate `a` and `b` variables to obtain `"abcd"` as `d` variable.

In [28]:
a="merhaba"
b=a.replace("e","a")
b

'marhaba'

In [30]:
a="merhaba"
b=a.replace("a", "i", 1)
b

'merhiba'

Strings can be multiplied to create longer strings.
- Create a variable of all `"a"`'s, 27 characters long.

In [17]:
new= "a" * 27
new

'aaaaaaaaaaaaaaaaaaaaaaaaaaa'

Indexing can be used for string variables just as in lists.
- Select the first character of `d`.
- Select the last character of `d`.

In [53]:
c="alnfalnflsakdnfd"
len(c)

16

In [42]:
c[0]

'a'

In [68]:
c[-1]

'f'

In [45]:
c[-15]

'a'

In [54]:
c[len(c)/2]

TypeError: string indices must be integers

In [55]:
type(len(c)/2)

float

In [49]:
c[round(len(c)/2)]

'l'

In [50]:
c[int(len(c)/2)]

'f'

In [48]:
len(c)/2

7.5

In [52]:
int(7.99999)

7

- Select first three characters of `d`.

In [77]:
c[:3]

'cal'

In [80]:
c[3:]

'nfalnflsakdnf'

In [81]:
c[-3:]

'dnf'

In [85]:
c[3:10:2]

'nanl'

In [6]:
a = "ali"
a[::-1]

'ila'

In [8]:
a = "aaaaaaaaaaaaaaaaaaaaaaaa"
b = a.replace("a", "i",3)
b

'iiiaaaaaaaaaaaaaaaaaaaaa'

In [9]:
b[::-3]

'aaaaaaai'

In [1]:
liste= [1,2,3,4,5,6,7,8,9]
liste[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

- Change the last character of `d` into `"e"` to obtain `"abce"`.

In [2]:
p = "abcd"

In [4]:
p.replace("d","e")

'abce'

Membership tests can be performed on strings.
- Check if word `"Python"` occurrs in the following string:

In [6]:
paragraph = """Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string."""

# "Python" ? paragraph

In [11]:
"Yasin" in paragraph #???

False

In [12]:
"Like" in paragraph #???

True

In [13]:
paragraph[100]

'i'

- What is the length of the `paragraph`?

In [7]:
len(paragraph)

290

- Turn the string `"Python"` into all lowercase characters.
Hint:
```
p = "UPPER"
p.lower()
```

In [8]:
p = "Python"
p.lower()
# p.?()

'python'

- Turn the string `"Python"` into all uppercase characters.

In [19]:
p.upper()

'PYTHON'

Characters or sequences in a string can be replaced using `str.replace(old, new)`.
- Replace "y" characters in p with "i".

In [20]:
p = "Python"
p.replace("y","i")

# p.?(?, ?)

'Pithon'

- Replace "on" sequence with "off".

In [21]:
p = "Python"
p.replace("on","off")

# p.?(?, ?)

'Pythoff'

Strings can be split to create a list by passing the delimiter character into `split()` method.
- Split the following data:

In [22]:
cities = 'Chesapeake,Guangzhou,Bengal,Rio'
population = '3325900,8675099,16004112,6000000'

# cities.split(?)
# population.split(?)
cities.split()
population.split()

['3325900,8675099,16004112,6000000']

In [92]:
spl=population.split()
d= [4,7,1,0,4,8]
sorted(spl)

['333325900,8675099,16004112,6000000']

In [95]:
e= ["f","e","y","a", "A", "E"]
sorted(e)

['A', 'E', 'a', 'e', 'f', 'y']

List or tuple elements can be joined together into a string.
- Join the following list with spaces in between.  
Sample input: `t = ["3","tunc","tas","kayisi","hosafi"]`  
`" ".join(t)`  
Sample output: `"3 tunc tas kayisi hosafi"

In [23]:
split_text = ["This","is","split","text."]
# joined_text = ?
",".join(split_text)

'This,is,split,text.'

If you want no characters in between list elements, just join on an empty string, i.e `"".join(your_list)`
- Join the following list:

In [24]:
p = ['P','y','t','h','o','n']
",".join(p)

# joined = ?

'P,y,t,h,o,n'

Creating a list using a string splits each character.

```
s = "string"
list(s)
>>> ['s','t','r','i','n','g']
```
- Convert the string below into a list:

In [33]:
p = "Python"
a=list(p)
b=a.reverse()
b

In [38]:
p = "Python"
a=list(p)
a.reverse()
a

['n', 'o', 'h', 't', 'y', 'P']

String formatting is useful for automated texts.
- Observe the following snippet of code.

In [27]:
x="ben"
y="sen"
sayı=5
print(x,y , sayı)

ben sen 5

In [28]:
x="ben"
y="sen"
sayı=5
print(x,y, str(sayı))

ben sen 5

In [38]:
route = 45

print(f"Rota {route}, gemi rotada.")
print("Rota {} gemi rotada".format(route))
print("Rota %04d, gemi rotada." % route)
print("Rota %s, gemi rotada." % route)

Rota 45, gemi rotada.
Rota 45 gemi rotada
Rota 0045, gemi rotada.
Rota 45, gemi rotada.

In [39]:
dümen_acisi = 10
route = 45

print(f"sancak {dümen_acisi} Rota {route}, gemi rotada.")
print("sancak {}, Rota {} gemi rotada".format(route, dümen_acisi))
print("Rota %04d, gemi rotada." % route)
print("Rota %s, gemi rotada." % route)

sancak 10 Rota 45, gemi rotada.
sancak 45, Rota 10 gemi rotada
Rota 0045, gemi rotada.
Rota 45, gemi rotada.

In [11]:
kim = "ben"
print(f" {kim} geldim helloooo")

 ben geldim helloooo

**Bonus Question**

Reverse the word `Python` into `nothyP`.

- Alternative 1: Split the characters using `list`, use `reversed()` method and join back the string.

- Alternative 2: Use slicing.

In [113]:
a=list(range(20))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [116]:
a[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [122]:
a= ["ben", "sen", "biz"]
sorted(a)

['ben', 'biz', 'sen']

### Freestyle Section

Explore the string methods using
```
a = 'string'
dir(a)
```

There are lots of useful methods to deal with text data.

Try `.find`, `strip`, `.count` and `.index` methods on longer strings to see what they do.

In [ ]:
a = 'string'
dir(a)

In [45]:
import numpy as np

In [49]:
a="asdfghjkl"
def letter(x):
    x=list(x)
    num=np.random.choice(range(len(x)))
    return x[num]

In [50]:
letter(a)

'k'

In [62]:
a="asdfghjkl"
def letters(x):
    x=list(x)
    c=x[np.random.choice(range(len(x)))]
    return c

In [65]:
print(letters(['a', 'b', 'c', 'd', 'e', 'f', 'g']))

g

In [51]:
d = {'a':0, 'b':24, 'c':3, 'd':12, 'e':1}

def get_highest_char(z):
    q=max(sorted(z.values()))
    w= [i for i,j in z.items() if j==q][0]
    return w

In [52]:
e = {'a':19, 'b':70}
d = {'a':40, 'b':9, 'c':50, 'd':12, 'e':1}

get_highest_char(e)

'b'

In [54]:
d = {'a':40, 'b':9, 'c':30, 'd':12, 'e':1}
max(d, key=lambda x: x[0])

'e'

In [140]:
letters(a)

'f'

In [40]:
a = "a"

In [ ]:
a.

In [71]:
d = {'a':0, 'b':9, 'c':3, 'd':12, 'e':1}
max(d.values())

12

In [ ]:
assert get_highest_char(d) == 'd'

In [195]:
import numpy as np


class BanditError(AttributeError):
    pass

class KBandit:
    """K-armed bandit, with each arm having a different probability of payout."""
    def __init__(self, bandit_names=None, bandit_probas=None, shuffle=True):
        if bandit_names is None:
            bandit_names = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
        if bandit_probas is None:
            bandit_probas = [0.333, 0.1, 0.2, 0.05, 0.15, 0.25, 0.01]
        self.bandit_names = tuple(bandit_names)
        if shuffle:
            np.random.shuffle(bandit_names)
            np.random.shuffle(bandit_probas)
        self.__bandits = dict(zip(bandit_names.copy(), bandit_probas.copy()))

    def pull(self, arm):
        """Pull an arm and observe the payout.

        Args:
        --------
        arm : str, arm name

        Returns:
        payout  : int, {0, 1}

        """
        if arm not in self.bandit_names:
            raise BanditError(f"Invalid arm: '{arm}'. Valid arm names are {set(self.bandit_names)}")
        proba = self.__bandits[arm]
        return np.random.choice([0, 1], p=[1 - proba, proba])

    def get_arm_names(self):
        return self.bandit_names


class Player:
    def __init__(self, bandits):
        self.bandits = bandits
        self.payouts = {k: 0 for k in self.bandits.get_arm_names()}
        self.trials = {k: 0 for k in self.bandits.get_arm_names()}

    def play(self):
        arm_name = self.strategy()
        payout = self.bandits.pull(arm_name)
        self.payouts[arm_name] += payout
        self.trials[arm_name] += 1

    def strategy(self):
        # abstract method. leave this empty
        pass

    def score(self):
        return sum(self.payouts.values())


class RandomPlayer(Player):
    def strategy(self):
        return np.random.choice(self.bandits.bandit_names)


class CustomPlayer(Player):
    def strategy(self):
        """Evaluate the situation based on payouts and trials,
        and return an arm name.

        Returns:
        -----------
        arm_name : str
        """
        payouts = self.payouts  # kac tane kazandirdi: {a:5, b:7, c:3, d:1}
        pulls = self.trials  # kac kere oynandi: {a:15, b:24, c:30, d:10}
        # TODO: Complete thus function
        arm_name = None
        return arm_name



if __name__ == '__main__':
    random_scores = []
    for games in range(100):
        bandits = KBandit()
        player = RandomPlayer(bandits=bandits)
        for _ in range(100):
            player.play()
        random_scores.append(player.score())
    print('Random player average score:', np.mean(random_scores))
    player_scores = []
    for games in range(100):
        bandits = KBandit()
        player = MyPlayer(bandits=bandits)
        for _ in range(100):
            player.play()
        player_scores.append(player.score())
    print('Custom Player average score:', np.mean(player_scores))
    assert not np.mean(random_scores) > np.mean(player_scores), "Custom player score worse than Random player"

Random player average score: 15.67

NameError: name 'MyPlayer' is not defined

In [198]:
import numpy as np

In [219]:
def gaussian_prob(x, mu, sigma):
    return (1/(sigma * (2*np.pi)**0.5)) * np.exp((-(x-mu)**2)/ (2*(sigma)**2))

In [220]:
gaussian_prob(3,0,1)

0.0044318484119380075

In [221]:
gaussian_prob(2,0,2)

0.12098536225957168

In [215]:
sigma=2
kök= 1/(sigma * (2*3.14)**0.5)
kök

0.19952172111690555

In [200]:
np.exp(1)

2.718281828459045

In [ ]:
def somun(tip1, tip2, yeni):
    """Args:
    tip1 : array of type 1 class values, e.g. [6,7,5,4,6,7]
    tip2 : array of type 2 class values, e.g. [8,6,3,7,9,6,5]
    yeni : new value, e.g. 5
    """
    # TODO: Replace None's
    mu1 = None
    std1 = None

    mu2 = None
    std2 = None

    prior1 = None
    prior2 = None

    p1 = gaussian_prob(yeni, mu1, std1) * prior1
    p2 = gaussian_prob(yeni, mu2, std2) * prior2

    return p1/(p1 + p2), p2/(p1 + p2)

In [225]:
def somun(tip1, tip2, yeni):
    mu1= np.mean(tip1)
    std1=np.std(tip1)
    mu2= np.mean(tip2)
    std2=np.std(tip2)
    prior1= len(tip1) / (len(tip1)+ len(tip2))
    prior2= len(tip2) / (len(tip1)+ len(tip2))
    p1= gaussian_prob(yeni,mu1,std1)* prior1
    p2= gaussian_prob(yeni,mu2,std2)* prior2
    return p1/(p1 + p2), p2/(p1 + p2)

In [226]:
tip1= [3,4,9,1,2,4,5,5,6,3,4,10]
tip2= [12,11,10,9]
somun(tip1, tip2,9)

(0.4288214224874051, 0.5711785775125949)

In [224]:
a=[4,5,6,7,8,9]
np.std(a)

1.707825127659933