## DBAPI
* Tüm RDBMS kütüphanelerinin temelini oluşturur.
* Amaç farklı veritabanları ile benzer şekilde çalışabilmeyi sağlamak.
* https://www.python.org/dev/peps/pep-0249/
* Bağlantı kurulacak servera özel kütüphane tercih edilmeldir. Bir server için birden fazla kütüphane olabilir.
    * `pyodbc`, `pymssql`, `cx_oracle`, `sqlite3` vs.

**Not:** İlişkisel veritabanlarında SQL dili kullanımı farklı olabilir. ANSI/ISO standartlarına göre büyük oranda benzerdir. Firmalar kendi kitlelerine göre eklemeler yapar. SQL, T-SQL, PL/SQL, SQL-PL.

### Klasor ve dosya ile çalışma

In [1]:
import os

os.getcwd()
#!cd #shell komutları kullanabiliriz.

'C:\\Users\\ahmet\\Desktop\\Getir Python Bootcamp\\new_file'

In [2]:
"""
    . çalıştığımız yol
    .. bir  önceki yol
    
    linux -> /
    windows -> / veya \\ veya raw string ile r"c:\nalbur", repr("C:\nalbur")
    
    relative path ./klasor/dosya.txt
    absolute path c:\\klasor\\dosya.txt gibi.
"""

os.makedirs("./databases", exist_ok=True)

In [4]:
os.path.exists("./databases")

True

In [5]:
"databases" in os.listdir()

True

In [6]:
os.path.isdir("./databases")

True

In [7]:
os.path.isfile("./databases")

False

In [9]:
# list(os.scandir("."))

for e in os.scandir("."): # DirEntry
    if e.is_file():
        print(e.name)

1_1_OrnekSorular.ipynb
1_2_VeriTabanlarinaBaglanma.ipynb

In [3]:
#alt yollara gitmek için walk
list(os.walk(".")) #[(root, folders, files), (root, folders, files) .... ]


for kok, klasorler, dosyalar in os.walk("."):
    for dsy in dosyalar:
        print(dsy)

1_1_OrnekSorular.ipynb
1_2_VeriTabanlarinaBaglanma.ipynb
1_3_urlretrieve_urlopen_request_BeautifulSoup.ipynb
1_1_OrnekSorular-checkpoint.ipynb
1_2_VeriTabanlarinaBaglanma-checkpoint.ipynb
1_3_urlretrieve_urlopen_request_BeautifulSoup-checkpoint.ipynb
loglarim.csv
mesajDB.db
pylogo2.png
1_2_VeritabanlarinaBaglanma.html
1_2_VeritabanlarinaBaglanma.ipynb
1_3_urlretrieve_urlopen_request_BeautifulSoup.html
1_3_urlretrieve_urlopen_request_BeautifulSoup.ipynb
Regex.png
1_1_SoruCevap-checkpoint.ipynb
1_2_VeritabanlarinaBaglanma-checkpoint.html
1_2_VeritabanlarinaBaglanma-checkpoint.ipynb
1_3_urlretrieve_urlopen_request_BeautifulSoup-checkpoint.ipynb
loglarim.csv
mesajDB.db
pylogo.png
pylogo2.png
loglarim-checkpoint.csv
pylogo-checkpoint.png
pylogo2-checkpoint.png

### sqlite3 ile çalışmak
* sqlite3 ayrı bir service kurmadan çalışılan light bir veritabanı programıdır. (RDBMS)
* sqlite3 engine indirip kurulabilir. https://www.sqlite.org/download.html
* SQL komutları ile çalışır. Ücretli bir RDBMS lisansına sahip olmadan çalışma imkanı tanır. (Oracle, MSSQL, MYSQL vs.)
* sqlitestudio ile bağlanıp nesneleri yönetebiliriz. Sorgular oluşturabiliriz. https://sqlitestudio.pl/

**Not:** Serverlara bağlanmak için bir bağlantı cümlesine ihtiyaç duyarız. [Tüm bağlantı cümleleri](https://www.connectionstrings.com/)

In [3]:
import sqlite3

import pandas as pd

In [2]:
con = sqlite3.connect("C://Users/ahmet/Desktop/Data Science/SQLite/chinook.db")

In [5]:
df = pd.read_sql_query("SELECT * FROM albums", con=con)

In [6]:
df

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [10]:
# tablo oluşturma

con.execute("""
CREATE TABLE mesaj
(
    Id INT,
    Metin VARCHAR(100)
)
""")

OperationalError: table mesaj already exists

In [ ]:
# tablo silmek için

# con.execute("DROP TABLE mesaj")

In [11]:
# Kayıt girelim

con.execute(" INSERT INTO mesaj VALUES(1,'1. Kayıt')")
con.execute(" INSERT INTO mesaj VALUES(2,'2. Kayıt')")
con.execute(" INSERT INTO mesaj VALUES(3,'3. Kayıt')")
con.execute(" INSERT INTO mesaj VALUES(4,'4. Kayıt')")
con.execute(" INSERT INTO mesaj VALUES(5,'5. Kayıt')")

con.commit() # auto  commit yoksa işlemler geri alınır.

In [24]:
# Kayıtları okuyalım
# bağlantı üzerinden komut çalıştırılabilir geriye dönen cursor yakalanabilir. 
# baglantı üzerinden cursor oluşturulabilir. Cursoru ile sorgu çalıştırılabilir.

# 1.Yöntem
"""
imlec = con.cursor()
imlec.execute("SELECT * FROM mesaj LIMIT 3")
"""

# 2.Yöntem
imlec = con.execute("SELECT * FROM mesaj LIMIT 3")

In [25]:
# kolon bilgisi

imlec.description

kolonlar = [c[0] for c in imlec.description]
kolonlar

['Id', 'Metin']

In [26]:
# satır bilgisi

satirlar = imlec.fetchall() # imlec sonuna kadar okur. sona geldiğinde boş döner.
satirlar

[(1, '1. Kayıt'), (2, '2. Kayıt'), (3, '3. Kayıt')]

In [27]:
# ekrana yazdıralım

print(f"|{kolonlar[0]:^5}|{kolonlar[1]:^20}|")

print("-"*28)

for s in satirlar:
    print(f"|{s[0]:^5}|{s[1]:^20}")

| Id  |       Metin        |
----------------------------
|  1  |      1. Kayıt
|  2  |      2. Kayıt
|  3  |      3. Kayıt

In [16]:
# zip ile paralel loop yapıyoruz.
# print(kolonlar)
# print(satirlar)

for satir in satirlar:
    for c_r in zip(kolonlar, satir): # unpacking ile kolon ve satırı alabiliriz
        # print("{}:{}".format(c_r[0], c_r[1]), end=' ')
        print("{}:{}".format(*c_r), end=" ")
    print("")

Id:1 Metin:1. Kayıt
Id:2 Metin:2. Kayıt
Id:3 Metin:3. Kayıt

In [28]:
con.close() # kaynakları serbest

In [41]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

In [33]:
a.append(b) #olduğu gibi ekler
a

[1, 2, 3, [4, 5, 6]]

In [37]:
a.extend(b)  #elemanları açarak ekler.
a

[1, 2, 3, 4, 5, 6]

In [38]:
a.extend(b).extend(c) #HATA

AttributeError: 'NoneType' object has no attribute 'extend'

In [39]:
a.extend(c)
a

[1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9]

In [42]:
#unpackign yöntemi
[a,b,c]    #append

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
[*a,*b,*c] #extend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Commit ve Rollback

In [44]:
import sqlite3

con = sqlite3.connect("databases/mesajDB.db")

In [45]:
con.execute("DELETE FROM mesaj WHERE Id IN(1,3)") # 1 ve 3 Idli satırları silelim
con.execute("DELETE FROM mesaj WHERE Id IN(2,4)") # 2 ve 4 Idli satırları silelim

In [47]:
con.execute("SELECT * FROM mesaj").fetchall()

[(5, '5. Kayıt'), (5, '5. Kayıt')]

In [48]:
con.rollback() # commit edilmediği sürece oturumdaki tüm işlemler geri alınır.

In [49]:
con.execute("SELECT * FROM mesaj").fetchall()

[(1, '1. Kayıt'),
 (2, '2. Kayıt'),
 (3, '3. Kayıt'),
 (4, '4. Kayıt'),
 (5, '5. Kayıt'),
 (1, '1. Kayıt'),
 (2, '2. Kayıt'),
 (3, '3. Kayıt'),
 (4, '4. Kayıt'),
 (5, '5. Kayıt')]

In [50]:
con.commit() # işlemler kalıcı hale gelir

### Pandas ile Okuma

In [48]:
import sqlite3

con = sqlite3.connect("databases/mesajDB.db")

In [49]:
import pandas as pd

df = pd.read_sql("SELECT * FROM mesaj", con)

In [50]:
df

   Id     Metin
0   1  1. Kayıt
1   2  2. Kayıt
2   3  3. Kayıt
3   4  4. Kayıt
4   5  5. Kayıt

In [53]:
df.loc[:2, ["Metin"]]

      Metin
0  1. Kayıt
1  2. Kayıt
2  3. Kayıt

### MSSQL (veya Orale) ile Çalışmak

* MSSQL'e bağlanmak için farklı kütüphaneler kullanabiliriz. `pyodbc`, `pymssql`
* Microsoft `pyodbc` kütüphanesini test takip ediyor
* `pip install pyodbc` ile indirelim. `import pyodbc` çalışma alanına alınır.
* Sonra seçtiğimiz drivera özel bağlantı cümlesini belirterek bağlanırız.


* **Oracle** için:
    * `pip install cx-Oracle`
    * `ìmport cx_Oracle`
    * `cx_Oracle.connect("username/password@localhost")`
    * Bağlanılacak makinede `Oracle Client` kurulu olmalıdır.

In [56]:
# pip install pyodbc

In [51]:
import pyodbc

In [52]:
pyodbc.drivers() # yüklü olan driverları listeler.

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [100]:
#bağlantı cümlesi oluşturalım.
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;UID=myUsername;PWD=myPassword;
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;Trusted_Connection=yes;

driver   = "ODBC Driver 17 for SQL Server"
server   = "localhost"
database = "master"
username = "sa"
password = "123"
#driver   = "{ODBC Driver 17 for SQL Server}"
#"Driver={};Server={};Database={};UID={};PWD={};".format(driver, server,database, username, password)

#{{}} ile {} üretiyoruz.
"Driver={{{}}};Server={};Database={};UID={};PWD={};".format(driver, server,database, username, password)

'Driver={ODBC Driver 17 for SQL Server};Server=localhost;Database=master;UID=sa;PWD=123;'

In [105]:
#con = pyodbc.connect("Driver={};Server={};Database={};UID={};PWD={};".format(driver, server,database, username, password))

dict_cntstr = {
            "driver":"{ODBC Driver 17 for SQL Server}",
            "server":"localhost",
            "database":"master",
            "username":"sa",
            "password":"123"
         }

cntstr = "Driver={driver};Server={server};Database={database};UID={username};PWD={password};".format_map(dict_cntstr)
cntstr

con = pyodbc.connect(cntstr)

In [107]:
imlec = con.execute("SELECT @@VERSION")

In [108]:
tekSatirSutun = imlec.fetchone() #tek hücre olduğu için
tekSatirSutun #sonuç tuple (version, )

('Microsoft SQL Server 2019 (RTM-CU9) (KB5000642) - 15.0.4102.2 (X64) \n\tJan 25 2021 20:16:12 \n\tCopyright (C) 2019 Microsoft Corporation\n\tEnterprise Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19044: )\n', )

In [110]:
print(tekSatirSutun[0])

Microsoft SQL Server 2019 (RTM-CU9) (KB5000642) - 15.0.4102.2 (X64)
	Jan 25 2021 20:16:12
	Copyright (C) 2019 Microsoft Corporation
	Enterprise Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19044: )

In [111]:
con.close()