# Data Types

### Integer

Create an instance of integer object:

In [2]:
a=6  # ınteger bir tam sayıyı temsil eder
type(a) # bir değişkenin tipini görmek için type(a) şeklinde yazılır

int

In [1]:
a = "merry"
type(a)

str

In [2]:
g=(6)
type(g)

int

In [11]:
a = False
type(a)

bool

In [ ]:
u=9
type(u)

In [22]:
f=(5,9)
type(f)

tuple

### Float 
Create an instance of a float object:

In [24]:
ş=6.7
type(ş)

float

In [ ]:
b=6.123 # float bir virgüllü sayıyı tanımlar
type(b)

In [16]:
e=2.0 # tam sayıyı virgüllü de yazsan bunu float olarak algılar.
type(e)

float

In [25]:
hyj="gamze"
type(hyj)

str

### String

In [4]:
a = "nisanur"  # Tırnak içine yazılan her şeyi string olarak algılar 
type(a)

str

In [5]:
a = "5"   # tırnak içinde rakamla dahi girsen bunu string olarak algılar.
type(a)

str

### Complex
- Create an instance of a complex object  
Syntax : `cp = 4 - 3j`

- Find real and imaginary parts of your complex number using object's own methods:
    - c.real
    - c.imag

### Operations on Integers and Floats

#### Type Casting

Define an integer variable a.
- Create a new variable `b` by casting variable `a` into float.
- Create a new variable `cp` by casting variable `b` into complex.

#### Arithmethical Operations

- Calculate $\frac{2^8 x 3^2}{3}$

In [12]:
2*3

6

In [15]:
2**3

8

In [16]:
2/3

0.6666666666666666

In [25]:
a = 4*5-1

In [24]:
2*3**5*1

486

- What is the remainder of the following operation: $2^8 / 11$
- What is the quotient of the operation above?  (quotient of 15/6 -> 3)

In [19]:
2**8 / 11

23.272727272727273

#### Comparisons

- Find out if results of the following two operations are the same by performing a comparison:
    - $2^6 * 3$ vs $2^3*2 * 3$
- Make the necessary adjustments using parentheses to equalize calculations.
- Redo the comparison.

### Rounding and Roundoff Errors

- Calculate 1/3 and round the result to the precision of two digits.
- Compare your result to `(0.1 + 0.1 + 0.1)`

In [28]:
round(0.1+0.1+0.3) #yuvarlama yapar.

0

In [40]:
a = 0.500000000001
round(a)

1

In [41]:
a = 5
round(a,3)

5

In [35]:
round(0.500000000001)

1

In [43]:
round(0.555, 3) + round(0.333,2)

0.885

In [26]:
round(6.7+7.6)

14

In [37]:
0.1 + 0.1 + 0.1 == 0.3

False

In [ ]:
0.09999999999999999999999999999999999999999999999999999999999999999999999

### List

#### Creating Lists

Create an instance of a list, containing one-digit, odd integers.

In [17]:
a= [1,3,78,788,77] # liste oluşturmak için [] kullanılır.
type(a)

list

In [86]:
a=[7,7,6,5,8,9,0]
type(a)

list

In [32]:
lale=[4,4,4,6,6,8,8,8]
lale.pop(4)
lale

[4, 4, 4, 6, 8, 8, 8]

#### Tricks

Create a list containing 20 6's without typing 6 20 times:

Sample output : `[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]`

In [18]:
b= [3]*20 # birden fazla aynı sayıyı yazmak için * kullanılır

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [50]:
m= [3]*20

In [49]:
h=[7]*23 
h

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [47]:
v=[0]*10 + [1]*10 # iki ayrı listeyi + ile uc uca yazabilirsin
v

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [46]:
s=[4.5]
j=[2]
s+j # iki listeyi + işareti ile aynı liste içerisine alınabilir.

[4.5, 2]

In [47]:
t=[7.9]
k=[0]
t+k

[7.9, 0]

In [6]:
g=["966h"]
w=["a "]  # iki ayrı listeyi aynı paranteze alınır .
g+w

['966h', 'a ']

In [41]:
g=[9] *6

In [100]:
u=["fare"]
l=["kedi"]
u+l

['fare', 'kedi']

In [48]:
ş=[5]*21
y=[76]*5
ş+y

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 76,
 76,
 76,
 76,
 76]

Lists can contain different data types together.  
- Create a list containing one instance from each of float, int, string, and another list having at least 4 elements.

In [24]:
a= [0,1,2,3,4,5,6,7,8,9]

#### Indexing

- Select the first element of the list you created above.
- Select the last element of the list you created above.
- **Nested Indexing**: Select the last element of the list contained in your list.

In [29]:
a= [4,5,6,7,8,9]
a.index(6) # a.index() istedigimiz sayını hangi sırada yer aldığını gösterir.

2

In [102]:
s=[5,4,6,78,9,2]
s.index(6)

2

In [30]:
y=[10,3,68,7,1]
y.index(10)

0

In [34]:
a+[10] # a listesine sayı ekleyebiliriz.

[4, 5, 6, 7, 8, 9, 10]

In [50]:
ç=[6,5,4]
ç+[1]

[6, 5, 4, 1]

#### Inserting and removing elements

- Create a list of 8 ones: `[1,1,1,1,1,1,1,1]`
- Add a new element: `4` to the end of the list you defined above.
- Remove any one element from your list.
- Add a new element `5` to the second place of your list.
- Find the index of five using `.index(5)` method of your list.

In [42]:
t=[1,2,3] 
h=[4] *3
t+h

[1, 2, 3, 4, 4, 4]

In [51]:
k=[7,6,5,]
w=[8] *9
k+w

[7, 6, 5, 8, 8, 8, 8, 8, 8, 8, 8, 8]

In [103]:
y=[9,0,4]
l=[7,8] *2 # bu şekilde de iki listeyi toplayabiliriz.
y+l

[9, 0, 4, 7, 8, 7, 8]

In [43]:
t

[1, 2, 3]

In [44]:
h

[4, 4, 4]

In [40]:
a=[1,2,3] 
b=[4] *3
a.extend(b)
a

[1, 2, 3, 4, 4, 4]

In [55]:
n=[7,4,4,3,5]*2
ü=[457,78]
ü.extend(n)
ü

[457, 78, 7, 4, 4, 3, 5, 7, 4, 4, 3, 5]

In [105]:
j=[0,8,6]
ç=[8,5,7] *2
ç.extend(j)
ç

[8, 5, 7, 8, 5, 7, 0, 8, 6]

In [106]:
ç

[8, 5, 7, 8, 5, 7, 0, 8, 6]

In [45]:
a

[1, 2, 3, 4, 4, 4]

- Concatenate to lists `[1,2,3]` and `[4,4,4]` using the arithmetic operator `+`.
- Concatenate those lists above using `.extend()` method.

#### Counting

- How many ones do we have in this list? Find the count of ones using `list.count()` method.

In [50]:
a= [4,5,6,7,8,9,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,6,6,6,6,6,6,6,6,6,6,6,6,6,6,5,5,6]*89
a.count(6)

1424

In [59]:
z=[4,4,4,4,4,4,4,4,5,5,5,5,6,6,6,6,6,6,8,8,8,8,8,8,8,7]*99
z.count(6)

594

In [112]:
n= [8,9,6,4,0,3,2,1,8,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,0,0,6,6,6,5,4,4,3,4,3,4,] *1048
a.index(9)

5

t=[5,5,5,5,5,5,6,6,6,6,7,7,77,7,7,2,3,6,9,8,4,5,4,5,5,6,8,0,4

Lists can also be used as stacks.
- Create a new list to your liking and explore `list.pop()` and `list.insert()` methods.

In [60]:
y=[7,4,7,9,3,5]
y.pop(3)
y

[7, 4, 7, 3, 5]

In [70]:
a= [4,5,6,7,8,9] 
a.pop(2)            # sayıyı siler.

6

In [115]:
a=[0,8,9,7,5]
a.pop(3)
a

[0, 8, 9, 5]

In [1]:
a=[7,5,3,1,3]
a.insert(0,5)
a

[5, 7, 5, 3, 1, 3]

In [2]:
a.insert(2,"nisaaaaa")
a

[5, 7, 'nisaaaaa', 5, 3, 1, 3]

In [19]:

%%time
g= 5
type(g)

Wall time: 0 ns

int

### Tuples vs Lists

Tuples act like lists in terms of holding elements and indexing, but they are immutable and can't be changed i.e. no appending, inserting, removal or changing elements inplace.

#### Exploring Methods and Attributes of Tuples and Lists

- Inspect the methods and attributes of a list object:
    - Create a new list object.
    - Use built-in `dir(your_list)` function to see what methods a list has (ignore underscored methods for now)

In [78]:
s= (1,2,3,4,5,5,6,7,8,8,8,8,9,9)
type(s)
s.count(8)

4

In [ ]:
s.count(8) #parantez içindeki sayının listede kaç defa verildiğini gösterir.

In [80]:
s.index(1) # parantez içine yazılan sayının kaçıncı sırada olduğunu verir.

0

- Inspect the methods and attributes of a tuple object:
    - Create a new tuple object.
    - Use built-in `dir(your_tuple)` function to see what methods a list has (ignore underscored methods for now)
    - Note that `tuple` object does not have any methods liek append, insert, pop, etc.

### Sets

Set is a collection of unique elements. Lookups within sets are the fastest compared to other collection/array-like types.

- Create a set from the list: `[1,2,3,5,4,5,4,1,7,8,11]`
- Add a new element to your set: `9`

In [81]:
s= (1,2,3,4,5,5,6,7,8,8,8,8,9,9) # birden fazla verilen sayıları tek halde gösterir.
set(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- Explore the methods and attributes of your set object using `dir` function.
(Ignore underscored ones)

- Name your set `A` for the following questions:
    - Given the set `B = {4,5,8,9,11}`, find the following using set methods you explored above:
    - $A \cup B$
    - $A \cap B$
    - $A / B$
    - $B / A$
    - $(A / B) \cup (B / A)$

- Try to solve the questions above using arithmetic operators, i.e `A-B` for **difference** or `A|B` (or) for **union**.